

.classes{


width: 100%;
margin: auto;
margin-top: 20px;
border-style: none;
height: 1000px;
}


.switchBar{
height: calc( 0.7 * var(--headerHeight) );
width:90%;
margin: auto;
border-color: lightgrey;
border-style: none;

}




